
$white: #ffffff;
$black: #000000;

$lightBlue: #CFE1F4;
$darkBlue: #4A4E71;
$mediumBlue: #6F91BC;

$lightWhite: #F4F9FF;
$lightBlue2: #E0EDFB;

$skyBlue: #70C3FF;
$oceanBlue: #4B65FF;

$red: #FF8080;
$success: #27B274;
