@import 'src/styles/variables';

.password-hints {
  list-style: none;
  text-align: start;

  margin-top: 15px;
  margin-bottom: 20px;
  padding-inline-start: 0;
  margin-left: -85px;

  &--item {
    margin-bottom: 4px;
    font-size: 13px;
    line-height: 18px;
    color: $darkBlue;

    &.error {
      color: $red;
    }

    &.default {
      color: $darkBlue;
    }

    &.success {
      color: $success;
    }
  }
}
